
.mat-form-field {
  background-color: rgba(255,255,255, 0.05);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  width: 500px;
  height: 25px;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent !important;
} 

input{
  width: 100%;
  text-decoration: none;
  position: relative;
  bottom: 15px;
  left: 25px;
}

input select {
  width: 100%;
}

mat-icon{
  color: rgba(255,255,255, 0.4);
  transform: scale(1);
  position: relative;
  bottom: 12px;
  left: 10px;
}