<div class="show-component" *ngIf="current">
<div class="cast-header">Cast</div>
<div class="grid-container"> 

<div class="item1" *ngFor="let currents of current | slice:0:4">
  
  <div class="cast-member">
  <div class="image-cropper">
  <img [src]='currents.castImage' class="show-img"/>
  </div>
    <div class="names">
    <a class="cast-link" [href]='currents.castURL' target="_blank">{{currents.castName}}</a>
  <div>
    <a class="character-link" [href]='currents.characterURL' target="_blank">{{currents.characterName}}</a>
  </div>
</div>
 </div>
</div>
</div>
</div>