


<div class="show-component" *ngIf="current">
  
  <div class="grid-container"> 
    <div class="item1">
      <img [src]='current.image' class="show-img"/>
    </div>
    <div class="item2">
      <div class="show-name">{{current.name}}</div>
      <div>
        <span>{{current.network}} | {{current.country}} | {{current.language}}  |  &#11088;  {{current.rating}}</span>
      </div>
      
      <!-- <div class="storyline">Storyline:</div> -->
      <p>{{current.summary}}</p>
      <div>
        <div>Genres: {{current.genres}}</div>
        <div>
          <span> Premiered:  {{current.premiered}} - {{current.status}}</span>
        </div>
        <div>
          <span> Showtime:  {{current.time}}, {{current.days}} | {{current.runtime}} minutes</span>
        </div>
          <span>Official Site: </span><a class="official-site-link" [href]='current?.officialSite' target="_blank">{{current.officialSite}}</a>
      </div>
    </div>
    

    
    <!--
    <div class="item3">
      <div class="cast-header">Cast</div>
      <div class="cast-member">
      <img [src]='current.castImage' class="show-img"/>
      <div>
        <a class="official-site-link" [href]='current.castURL' target="_blank">{{current.castName}}</a>
      </div>
      <div>
        <a class="official-site-link" [href]='current.characterURL' target="_blank">{{current.characterName}}</a>
      </div>
     </div>
    </div>  -->


  </div>
</div>


