.show-component{
  /* font-family: Lato; */
  background-color: #0c151d; 
  padding: 0 15% 0 15%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  padding: 2% 0 2% 0;

}



.show-img{
  max-width: 140px;
}

.item1{
  max-width: 140px; 
  text-align: left;
  background-color: rgba(255,255,255, 0.08);
  border-radius: 5px;
  margin: 10px;
}

.show-details{
  padding: 5px 6px 10px 8px;
  padding-bottom: 15px;
  color: #989998;
}


/* .grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end];
  grid-template-areas: 
    "show show show show"
    "cast cast cast cast";
  grid-gap: 10px;
  padding: 4% 15% 0 18%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px;
  padding: 2% 0 2% 0;

}
.item1 {
  grid-column: 1 / span 2;
  
}
.item2 {
  text-align: left;
  padding: 0.5% 5% 0 5%;
}

.show-img{
  margin: 2%
}

.show-name{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  padding: 0% 0 3% 0;
  font-weight: 600;
  padding: 0 0 3% 0;
  color: #ffffff;
}
*/

.storyline{
  margin-bottom: -8px;
  text-transform: uppercase;
 
}
.official-site-link{
  text-decoration: none;
  color: #FBC500;
}

a:hover {
  color: rgb(255, 230, 142);
}