
<div  class="show-component"  ng-app="app" ng-controller="controllerName" *ngIf="currents">
  
  <div class="search-result-card">
    <!-- <div class="shows-title"> Search Result:</div>
    <hr> -->
    <div class="grid-container"> 
      <div class="item1" *ngFor="let current of currents | slice:0:5" >
        <a (click) = "fireEvent(current)" (click)="toggleShow()"> <img [src]='current.image' class="show-img"/> </a>
        <!-- <div class="show-details">
          <div class="show-name">{{current.name}}</div>
           <div>Network: {{frontPage.networkName}} </div> 
          | slice:0:3 
          ng-click="passCurrent($current)"
          <div> TIME:  {{current.runtime}} </div>
        </div> -->
    
      </div>
  </div> 
</div>   
 
<div class="show-details-card" *ngIf="show">
  <!-- <img class="close-button" src="../../assets/cross-out.png" alt="Clossing Cross" (click)="toggleHide()"img>  -->
  
  <a class="material-icons close-button" (click)="toggleHide()">close</a>
   <div class="grid-container"  *ngIf="details"> 
    <div class="item1-details">
      <img [src]='details.image' class="show-img-details"/>
    </div>
    <div class="item2-details">
      <div class="show-name-details">{{details.name}}</div>
      <div>
        <span class="show-details-span" *ngIf="details.network">{{details.network}} </span> <span class="show-details-span" *ngIf="details.network && details.country">|</span> 
        <span class="show-details-span" *ngIf="details.country"> {{details.country}}</span> <span class="show-details-span" *ngIf="details.country && details.language">|</span> 
        <span class="show-details-span" *ngIf="details.language">{{details.language}}</span>  <span class="show-details-span" *ngIf="details.language && details.rating">|</span>  
        <span class="show-details-span" *ngIf="details.rating"><i class="material-icons rating-star">star</i>  {{details.rating}}</span>
      </div>

      <div class="show-details-div">{{details.genres}}</div>

      <div class="show-details-div">
        <span class="show-details-span"> {{details.premiered}} - {{details.status}}</span><span class="show-details-span" *ngIf="details.status == 'Running'">|</span> 
          <span *ngIf="details.status == 'Running'">
          <span class="show-details-span"> {{details.days}}</span> <span class="show-details-span" *ngIf="details.days && details.time">|</span> 
          <span class="show-details-span">{{details.time}}</span> <span class="show-details-span" *ngIf="details.time && details.runtime">|</span> 
          <span class="show-details-span">{{details.runtime}} min</span>
        </span>
      </div>
      
      <p class="show-summary">{{details.summary}}</p>
      <div>
          <span>Official Site: </span><a class="official-site-link" [href]='details.officialSite' target="_blank">{{details.name}}</a> 
      </div>
    </div>  
  </div> 


  <div class="shows-title"> Cast:</div>
  <hr class="line">
  <div class="grid-container"  *ngIf="cast">
    
      <div class="grid-container-cast"> 
  
        <div class="item1-cast" *ngFor="let member of cast | slice:0:30">
          
          <div class="cast-member">
            <div class="image-cropper">
          <img [src]='member.castImage' class="show-img-cast"/>
            </div>
          <div>
            <a class="cast-link" [href]='member.castURL' target="_blank">{{member.castName}}</a>
          </div>
          <div>
            <a class="character-link" [href]='member.characterURL' target="_blank">{{member.characterName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="seasons">
    <div class="shows-title">Seasons:</div>
    <hr class="line">
    <div *ngFor="let season of seasons" class="seasons-wrapper">
      <div class="seasons-container">
        <div style="flex-basis:20%" >Season {{season.number}}</div>
        <div style="flex-basis:20%" >{{season.episodeOrder}} <span *ngIf="season.episodeOrder != '-'">episodes</span></div>
        <div style="flex-basis:20%">{{season.premiereDate}} - {{season.endDate}}</div>
      </div>
      <hr class="seasons-line">
    </div>
  </div>

</div>

</div>
  
<!--
  <div class="item3">
    <div class="cast-header">Cast</div>
    <div class="cast-member">
    <img [src]='current.castImage' class="show-img"/>
    <div>
      <a class="official-site-link" [href]='current.castURL' target="_blank">{{current.castName}}</a>
    </div>
    <div>
      <a class="official-site-link" [href]='current.characterURL' target="_blank">{{current.characterName}}</a>
    </div>
   </div>
  </div>  -->
