.show-component{
  background-color: #0c151d; 
  padding: 0 5% 0 5%;
}

.search-result-card{
  border-radius: 5px;
  margin-top: 5%;
}

.grid-container{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 5px;
  padding: 2% 2% 2% 2%;
}

.shows-title{
  font-family: Lato;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 2% 15% 0.5% 5%;
  font-weight: 600;
  color: #ffffff;
}

hr{
  border: 1px solid rgba(22,37,48,0.8);

}

.line{
  background-color: rgba(255,255,255, 0.2);
}

.show-img{
  max-width: 130px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.show-img:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.item1{
  text-align: left;
  margin: 10px;
}

.storyline{
  margin-bottom: -8px;
  text-transform: uppercase;
 
}
.official-site-link{
  text-decoration: none;
  color: #9ec5e0;
}

a:hover {
  color: #ffffff;
}


@media (min-width: 1201px) and (max-width: 1500px) {
  .grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 5px;
    padding: 2% 0 2% 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    padding: 2% 0 2% 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 2% 0 2% 0;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 2% 0 2% 0;
  }
}

@media (max-width: 599px) {
  .grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 2% 0 2% 0;
  }
}





/* SHOW DETAILS */

.show-details-card{
  background-color: #162530;
  margin-right: 2%;
  margin: 0% 10% 0% 10%;
  padding: 5%;
  border-radius: 5px;
}

.close-button{
  float: right;
  font-size: 40px;
  color: #5e849e;
  margin-top: -3%;
  margin-right: -2%;
}

.item1-details {
  grid-column: 1 / span 2;
  
}
.item2-details {
  text-align: left;
  padding: 0.3% 5% 0 5%;
  color: rgba(255,255,255,0.8);
  font-weight: 300;
  font-size: 14px;
}

.show-img-details{
  margin: 2%;
  max-width: 180px;
}

.show-name-details{
  font-family: Lato;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  padding: 0% 0 3% 0;
  font-weight: 600;
  padding: 0 0 3% 0;
  color: #ffffff;
}

.show-details-span{
  padding: 0 10px 0 0;
}

.rating-star{
  font-size: 20px;
  color: #f5c518;
  padding-right: 6px;
  position: relative;
  bottom: -3px;
}

.show-details-div{
  padding-top: 2%;
}

.show-summary{
  padding-top: 3%;
}



/* SHOW CAST */
 
.cast-header {
  text-transform: uppercase;
  font-size: 22px;
  font-family: Lato;
  text-align: left;
  padding: 2% 0 0.5% 0;
  font-weight: 600;
  color: #f2f2f2;
}

 .grid-container-cast {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 0 3% 5% 7%;
 }

.item1-cast {
  margin: 10px;
}

.image-cropper {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

.show-img-cast {
  max-height: 170px;
  margin: 0 auto;
}

.cast-link {
  text-decoration: none;
  color: #9ec5e0;
  font-size: 14px;
}

.character-link {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
}

@media (min-width: 1600px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    padding: 0 3% 5% 7%;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 0 3% 5% 7%;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 0 3% 5% 7%;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 0 3% 5% 7%;
  }
  .show-name-details{
    font-size: 24px;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 0 3% 5% 7%;
  }
  .show-name-details{
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  .grid-container-cast {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 0 3% 5% 7%;
  }
  .show-name-details{
    font-size: 20px;
  }
}

/* SEASONS */

.seasons-wrapper{
  padding-left: 20%;
}

.seasons-container {
  display: flex;
  align-items: stretch; 
}

.seasons-container > div {
  width: 100px;
  margin: 10px;
  padding-left: 15px;
  text-align: left;
  color: rgba(255,255,255,0.8);;
}

.seasons-line{
  background-color: rgba(255,255,255, 0.15);
  margin: 0 28% 0 1%;
}

