.header {
  background-color: #cccccc;
  padding: 0.5%;
  padding-left: 3%;
  text-align: left;
  color: white;
  font-size: 22px;
  font-family: Lato;
  font-weight: 600;
  text-transform: uppercase;
}
.tv-header{
  font-family: 'Permanent Marker', cursive;
  font-size: 33px;
  margin: 0 5px 0 5px;
}

.search-bar{
  float:right;
  font-size: 20px;
  padding-top: 1%;
}