body {
  color: #ffffff;
}

.header {
  background-color: #162530;
  padding: 0.5%;
  text-align: center;
  color: #f2f2f2;
  font-size: 15px;
  font-family: Lato;
  font-weight: 600;
  
}
.tv-header{
  font-family: 'Permanent Marker', cursive;
  font-size: 33px;
  margin: 0 5px 0 5px;
}

.search-bar{
  float:right;
  font-size: 20px;
  padding-top: 1%;
}

.mat-card {
  padding: 10px;
}

.footer {
  background-color: #0f1b25;
  padding-top: 4%;
  text-align: center;
  color: #f2f2f2;
  font-size: 15px;
  font-family: Lato;
  font-weight: 600; 
}