<div class="header">
   <!-- <span>tv</span><span class="tv-header">show</span><span>search</span>  -->
  <app-show-search ></app-show-search>
</div>
<div style = "text-align:center;">
  
  <mat-card style="background-color: #0c151d; border-radius: 0; color: #989998;">
    <app-front-page>

    </app-front-page>
  </mat-card>
  
  <mat-card style="background-color: #0c151d; border-radius: 0; color: #b9b9b9; font-size: 15px;">
    <app-current-show></app-current-show>
  </mat-card>
  
  <mat-card style="background-color: #0c151d; border-radius: 0; color: #989998;">
    <app-cast>

    </app-cast>
  </mat-card>
</div>