<div class="show-component">
  
  <div class="shows-title"> Today's News</div>
  <hr class="line">
  <div class="grid-container"  *ngIf="news"> 
    <div class="item1" *ngFor="let new of news | slice:0:5" >
      <a class="official-site-link" [href]='new.officialSite' target="_blank"> <img [src]='new.image' class="show-img"/> </a>
      <div class="show-details">
        <div class="show-name">{{new.name}}</div>
        <!-- <div>Network: {{frontPage.networkName}} </div> -->
        <div> TIME:  {{new.airtime}} </div>
      </div>
    </div>
  </div>

  <div class="shows-title"> Today's Reality Shows</div>
  <hr class="line">
  <div class="grid-container"  *ngIf="reality"> 
    <div class="item1" *ngFor="let real of reality | slice:0:5" >
      <a class="official-site-link" [href]='real.officialSite' target="_blank"> <img [src]='real.image' class="show-img"/> </a>
      <div class="show-details">
        <div class="show-name">{{real.name}}</div>
        <!-- <div>Network: {{frontPage.networkName}} </div> -->
        <div> TIME:  {{real.airtime}} </div>
      </div>
    </div>
  </div>

  <div class="shows-title"> Today's Documentary Shows</div>
  <hr class="line">
  <div class="grid-container"  *ngIf="documentaries"> 
    <div class="item1" *ngFor="let documentary of documentaries | slice:0:5" >
      <a class="official-site-link" [href]='documentary.officialSite' target="_blank"> <img [src]='documentary.image' class="show-img"/> </a>
      <div class="show-details">
        <div class="show-name">{{documentary.name}}</div>
        <!-- <div>Network: {{frontPage.networkName}} </div> -->
        <div> TIME:  {{documentary.airtime}} </div>
      </div>
    </div>
  </div>

</div>

<!--  *ngIf="(fronts.type == 'News')" -->