

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 4% 15% 5% 18%;
}


.show-img{
  max-width: 150px;
}

.item1{
  max-width: 150px; 
  text-align: left;
  background-color: rgba(255,255,255, 0.08);
  border-radius: 5px;
}

.show-details{
  padding: 5px 0 15px 10px;
  padding-bottom: 15px;
}