<div class="show-component" *ngIf="front">
  
  <div class="grid-container"> 
    <div class="item1" *ngFor="let fronts of front" >
      <div *ngIf="(fronts.type == 'News')">
      <a class="official-site-link" [href]='fronts.officialSite' target="_blank"> <img [src]='fronts.image' class="show-img"/> </a>

      <div class="show-details">
        <div class="show-name">{{fronts.name}}</div>
        <!-- <div>Network: {{frontPage.networkName}} </div> -->
        <div> TIME:  {{fronts.airtime}} </div>
        <div> Rating: {{fronts.rating}} </div>
      </div>
    </div>
    </div>
  </div>
</div>